Xft.dpi:	144

Xcursor.theme:	Bibata-Modern-Ice
Xcursor.size:	44

dwm.normfgcolor:		#abb2bf
dwm.normbgcolor:		#000000
dwm.normbordercolor:	#505458
dwm.normfloatcolor:		#505458

dwm.selfgcolor:			#ffffff
dwm.selbgcolor:			#000000
dwm.selbordercolor:		#61afef
dwm.selfloatcolor:		#c678dd
